<!-- Page shows ALL Details of ONE trip.   -->
<!-- Goal: functionality:  Can purchase trip. -->


<!DOCTYPE html>
<html>
<h3 align="center">{{this.trip.title}}</h3>
{{this.trip.photoURL}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head></head>

<body class="w3-content" style="max-width:1200px">
    <br>

    <app-test1></app-test1>
    <app-extensions></app-extensions>
    <!-- <app-table1></app-table1> -->
    <app-disclosures></app-disclosures>
    <!-- Purchase Button=========== -->
    <hr>
    <div align="right">
      <button class="nav-item nav-link-edit" [routerLink]="['../details']"><i class="material-icons">
          arrow_back</i>CANCEL</button>
      <button class="nav-item nav-link-edit" (click)="purchase()"
        class="button fancy-button"><i class="material-icons"> flight_takeoff</i>PURCHASE</button>
    </div>
    <hr>


